* {
	margin: 0;
	padding: 0;
}

html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	
	background-color: #3366ff;
	color: white;
	font-family: Arial, sans-serif;
	position: relative;
}

.home{
	text-align: center;

	position: relative;

	top: 50%;
	transform: translateY(-50%);
}
	.home-elem{
		margin: 5px;

	}

.update-pwd{
	text-align: center;
}

.display{
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	height: 240px;
}

.preview{
	width: 320px;
	height: 240px;
}

	.preview-cam {
		width: 100%;
		height: 100%;
	}

	.preview-canvas {
		position: relative;
		top: -240px;
	}

	.preview-filter {
		position: relative;
		top: -240px;
		max-width: 100%;
		max-height: 100%;
	}

.posts{
	text-align: center;
}

.post{
	display: inline-block;

	margin: 10px;

	background-color: #3366ff;
	border-radius: 2px;

	text-align: center;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

	.comment-info{
		display:	inline-block;
	

	}

	.comment-content{
		display:	inline-block;

	}

.filters a{
	text-decoration: none;
}

.filters{
	padding: 5px;
	background-color: white;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

	.filters-preview{
		display: inline-block;
		border: 1px solid black;
		width: 20%;
	}

.menu {
	display: block;

	text-align: center;
	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

	.menu--label {
		margin-top: 5px;
	}

	.menu--content {
		margin: 5px;
	}




#prev {
	max-width: 340;
	max-height: 240;
}

.main {
	display: inline-block;
	position: absolute;
	left: 0; top: 60px; bottom: 60px;
	width: 70%;
	text-align: center;
}

.side {
	position: absolute;
	top: 60px; right: 0; bottom: 60px;
	width: 30%;

	text-align: center;
	padding: 5px;
	overflow: auto;
	background-color: white;
}



.page-content {
	position: absolute;
	left: 0; top: 60px; right: 0; bottom: 60px;
	overflow: auto;
}

.page-footer {
	position: absolute;
	left: 0; right: 0; bottom: 0;
	height: 60px;
	line-height: 60px;

	background: linear-gradient(#0099ff, #00ccff);
}

.page-header {
	position: absolute;
	left: 0; top: 0; right: 0;
	height: 60px;
	line-height: 60px;
	min-width: 500px;
	overflow: hidden;

	background: linear-gradient(#0099ff, #00ccff);
}

.page-header a {
	text-decoration: none;
	color: white;
}

.header-tab {
	display: inline-block;
	height: 60px;
	vertical-align: middle;
}

.header-tab:hover {
	box-sizing: border-box;
	border-bottom: 4px white solid;
}

.header-split {
	display: inline;
	border-radius: 50%;
	border: 1px solid white;
	margin: 5px;
}

.link {
	position: absolute;
	left: 0; right: 0; bottom: 60px;

}
