#menu, #menu ul{
        position: relative;
        float:right;
        padding: 0;
        margin:0;
        list-style: none;
        line-height: 21px;
        text-align: center;
}

#menu a{
        display:block;
        padding:0;
        color: #fff;
        text-decoration: none;
        width:144px;
}

#menu li{
        border-right: 1px solid #fff;
}

body #menu li{
        border-right: 1px solid transparent;
}

#menu   li ul{
        position: absolute;
        width: 144px;
        left:-999em;
}

#menu li ul li{
        border-top: 1px solid #fff;
}

html>body #menu li ul li{
        border-top: 1px solid transparent;
}

#menu li ul ul{
        margin: -22px 0 0 144px;
        border-left: 1px solid #fff;
}

html>body #menu li ul ul{
        border-left: 1px solid transparent;
}

nav a:hover{
        background-color: rgba(34,33,33,0.5);
        color: #fff;
        font-size: 14px;
}
.inside:hover{

}
#menu li:hover ul ul{
        left:-999em;

}

#menu li:hover ul, #menu li li:hover ul{
        left: auto;
        background-color: rgba(34,33,33,0.5);
        min-height: 0;
}

.home{
        background-image: url("http://demo.lion-themes.com/voisen/wp-content/uploads/2016/01/slider-01.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        height: 60%;
        width: 100%;
}

.titre
{
        padding-top:10px;
        padding-bottom:10px;
        background-color: rgb(34,33,33);
        color: white;
        text-align:center;
        font-size: 12px;
        font-family: tahoma;
}

body
{
        margin : 0;
        padding : 0;
        background-image: url("http://www.42.fr/wp-content/themes/42/img/site42-bg.gif");
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: white;
}

footer a {
        color:silver;
        font-family: tahoma;
}

footer
{
        position:fixed;
        bottom:0%;
        right:0%;
        width:100%;
        height:30px;
        line-height:30px;
        color: white;
        text-align:center;
        background-color: rgb(34,33,33);
}

nav a{
        background-color: rgb(34,33,33);
        position:relative;
        display:inline-block;
        width:24%;
        color:white;
        text-decoration:none;
        text-align:center;
        line-height:30px;
}

.inside li{
        position:relative;
        left:110px;
        width: 40px;
}

.inside{
        position:relative;
        right:110px;
        width: 40px;

}

form label {
        float:left;
        margin-left: 40px;
}

form header{
        font-size: 20px;
}

.tform{
        position: relative;
        top: 200px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        background-color:grey;
        text-align: center;
        width: 400px;
        height: 200px;
        color: lightgrey;
        font-family: tahoma;
        font-size: 16px;
        border-radius: 4px;
        box-shadow: 8px 8px 15px 0px rgba(34,33,33,0.8);
}

#inp{
        padding-left:40px;
        border-radius: 2px;
        border: 3px;
        border-style: solid;
        border-color: lightgrey;
        float: right;
        margin-right: 40px;
}

#sub{
        position:relative;
        width: 80px;
        top:5px;
        color: lightgrey;
        border-radius: 2px;
        font-family: tahoma;
        background-color: rgba(34,33,33,0.4);
        border: 3px;
}

#sform{
        position:absolute;
        left: 40%;
        top: 90px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color:grey;
        text-align: center;
        width: 400px;
        height: 150px;
        color: silver;
        font-family: tahoma;
        font-size: 16px;
        border-radius: 4px;
        box-shadow: 8px 8px 15px 0px rgba(34,33,33,0.8);
}
#bform{
        position: relative;
        float:right;
        margin-right: 30px;
        padding-top: 30px;
        background-color:grey;
        text-align: center;
        width: 320px;
        height: 300px;
        color: silver;
        font-family: tahoma;
        font-size: 16px;
        border-radius: 4px;
        box-shadow: 8px 8px 15px 0px rgba(34,33,33,0.8);
}

#ident{
        margin-top: 150px;
        text-align: center;
        font-size: 14px;
        font-family: tahoma;
}

#mdp{
        text-align: center;
        font-size: 14px;
        font-family: tahoma;
}

#register{
text-align: center;
color: black;
}

#forgoten{
text-align: center;
color: black;
}