<!doctype html>

<html>
	<head>
		<title>FARGOT</title>
		<meta charset="UTF-8">
		<meta name="author" content="basle-qu">
		<meta name="description" content="FARGOT">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style/design.css">
	</head>
	<body>
		<div class="home">
			<h1 class="home-elem">Recover your password</h1>
			<form method="post" action="index.php?page=renew_password">
				<p class="home-elem">Email</p>
				<input class="home-elem" type="text" name="email"></br>
				<input class="home-elem" type="submit" value="Send me a new password">
			</form>
		</div>
	</body>
</html>
