<!doctype html>

<html>
	<head>
		<title>HOME</title>
		<meta charset="UTF-8">
		<meta name="author" content="basle-qu">
		<meta name="description" content="HOME">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style/design.css">
	</head>
	<body>
		<div class="home">
			<h1 class="home-elem">Camagru</h1>
			<form method="post" action="index.php?page=connect">
				<p class="home-elem">Login</p>
				<input class="home-elem" type="text" name="login"></br>
				<p class="home-elem">Password</p>
				<input class="home-elem" type="password" name="password"></br>
				<input class="home-elem" type="submit" value="Connection">
			</form>
			<a href="index.php?page=create">Create an account</a><br>
			<a href="index.php?page=fargot_password">I fargot my password</a>
		</div>
	</body>
</html>
